.nav {
    text-align: center;
}

.nav-button {
    display: inline-block;
    margin: 15px 10px;
    padding: 10px 30px;
    font-size: 24px;
    background: lightgray;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

table {
    width: 500px;
    border-collapse: collapse;
    margin-top: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

th {
    background: #292929;
    padding: 16px;
    font-size: 20px;
    color: #00eaff;
    font-weight: bold;
    border-bottom: 2px solid #555;
    /* slightly brighter */
    border-right: 2px solid #555;
    /* column line */
}

td {
    padding: 16px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #333;
    border-right: 1px solid #555;
    /* column line */
}

tr:last-child td {
    border-bottom: none;
}

td:last-child,
th:last-child {
    border-right: none;
    /* remove right border from last column */
}

.color {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.project {
    background-color: #1c1c1c;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.color {
    color: aliceblue;
    display: flex;
    flex-direction: row;
}