* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url(amazon-logo.webp);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    height: 50px;
    width: 100%;
}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
    border-radius: 4px;
    cursor: pointer;
}
/* box 2 */
.add-first {
    color: #cccccc;
    font-size: 0.875rem;
    margin-left: 15px;
}
.add-sec {
    font-size: 0.937rem;
    margin-left: 4px;
    font-weight: 700;
}
.add-icon {
    display: flex;
    align-items: center;
}
/* box 3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    max-width: 55vw;
    width: 100%;
    height: 40px;
    border: 1.5px solid transparent;
    border-radius: 4px;
}
.search-select {
    background-color: #e6ecec;
    width: 50px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/* box 4 */
span {
    font-size: 0.7rem;
}

.nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 6 */
.nav-cart i {
    font-size: 38px;
}

.nav-cart {
    font-size: 0.8rem;
    font-weight: 700;
}

/* panel */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 10px;
}
.panel-all {
    margin-left: 5px;
    font-size: 0.875rem;
    font-weight: bold;
}
.panel-ops p {
    display: inline;
    margin-left: 15px;
    padding: 8px 5px;
    font-size: 0.875rem;
}
.panel-ops {
    width: 95%;
    font-size: 0.85rem;
}

/* hero section */
.hero-section {
    background-image: url(hero.jpg);
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 35px;
}
.hero-msg a {
    color: #2162A1;
    text-decoration: none;
}

/* Shop Section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    border: 2px solid transparent;
    height: 420px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    cursor: pointer;
}
.box:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}
.box1-img {
    background-image: url(https://images.unsplash.com/photo-1542345307-d87fd97e0ed5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.box1-para a {
    text-decoration: none;
    color: #2162A1;
    font-size: 0.85rem;
}
.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
.box2-img {
    background-image: url(https://images.unsplash.com/photo-1598618022928-36f4870f6642?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box3-img {
    background-image: url(https://images.unsplash.com/photo-1571934387142-19331569b80b?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: contain;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box4-img {
    background-image: url(box4-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box5-img {
    background-image: url(https://m.media-amazon.com/images/I/8157gq+yGNL._AC_SY300_SX300_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box6-img {
    background-image: url(box6-img.jpg);
    background-size: contain;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box7-img {
    background-image: url(https://images.unsplash.com/photo-1642316424536-f852dcae5ddf?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box8-img {
    background-image: url(box8-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box9-img {
    background-image: url(https://plus.unsplash.com/premium_photo-1673481601147-ee95199d3896?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box10-img {
    background-image: url(box10-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box11-img {
    background-image: url(box11-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box12-img {
    background-image: url(box12-img.jpg);
    background-size: contain;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* footer */
.footer {
    margin-top: 15px;
}
.foot-panel1 {
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    cursor: pointer;
}
.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin-top: 20px;
}
ul a {
    display: block;
    text-decoration: none;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
}
ul p {
    font-weight: 700;
}
.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2 {
    background-image: url(logo2.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages {
    padding-top: 25px;
}
.pages a {
    text-decoration: none;
    color: white;
}
.copyright {
    padding-top: 5px;

}
.shadow {
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

@media (max-width: 1390px) {
    .navbar {
        height: auto;
        padding: 0.5rem 1rem;
    }
}
@media(max-width:1240px) {
    .navbar {
        flex: 1 1 auto;
    }

    .nav-search {
        flex: 2 0 50%;
    }

    .box {
        flex: 1 1 30%;
        max-width: 30%;
    }
}
@media (max-width: 1100px) {
    .nav-search {
        flex: 0 0 490px;
        width: 490px;
        max-width: 490px;
    }
}
@media (max-width: 1100px) and (min-width: 990px) {
    .navbar * {
        font-size: 0.8rem;
    }
}
@media (max-width: 990px) {
    body {
        min-width: 990px;
    }
}