html {
    margin: 0;
}
.nav{
    text-align: center;
}
.nav-button{
    display: inline-block;
    margin: 0 10px;  
    padding: 10px 30px;
    font-size: 24px;
    background: lightgray;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

#lightcoral {
    background: lightcoral;
}

#white {
    background: white;
}

#lightgreen {
    background: lightgreen;
}

#lightskyblue {
    background: lightskyblue;
}