*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #475084;
    text-align: center;
}
#main{
    height: 100%;
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shape{
    margin-left: 10px; margin-top: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}
h1{
    font-weight: normal;
}
#square:hover{
    background-color: #C05C7E;
}
#circle{
    border-radius: 50%;
}
#circle:hover{
    background-color:#F3826F ;
    
}
#diamond{
    margin-top: 50px;
    rotate: 45deg;
    height: 141px;
    width: 141px;
    translate: 30px;
}
#diamond h1{
    rotate: -45deg;
}
#diamond:hover{
   background-color: #FFB961;
}