html {
  font-family: sans-serif;
}

body {
  width: 300px;
  max-width: 750px;
  min-width: 480px;
  margin: 0 auto;
  background-color: #212121;
}
.nav{
    text-align: center;
}
.nav-button{
    display: inline-block;
    margin: 0 10px;  
    padding: 10px 30px;
    font-size: 24px;
    background: lightgray;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.lastResult {
  color: white;
  padding: 7px;
}

.guesses {
  color: white;
  padding: 7px;
}

button {
  background-color: #141414;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */
  cursor: pointer;
}

#subt {
  background-color: #161616;
  color: #ffffff;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 50px;
  /* margin-left: 75px; */
}

#guessField {
  color: #000;
  width: 250px;
  height: 50px;
  font-size: 25px;
  border-style: none;
  margin-top: 25px;

  /* margin-left: 50px; */
  border: 5px solid #6c6d6d;
  text-align: center;
}

#guess {
  font-size: 50px;
  /* margin-left: 90px; */
  margin-top: 120px;
  color: #fff;
}
.prev-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* space between text and box */
}
.guesses {
  background-color: #7a7a7a;
  display: inline-block; 
  padding: 10px 15px;      
  min-width: 25px;        
  min-height: 25px;        
}

#wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 470px;
  height: 650px;
  background-color: #474747;
  color: #fff;
  font-size: 25px;
}

h1 {
  background-color: #161616;
  font-size: 45px;
  color: #fff;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}
