*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    text-align: center;
}
#main{
    height: 100%;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 230px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    /* by adding img our border became sharp so to avoid that we used above */
}
#card1{
    background-color: aqua;
    z-index: 8;
}
#card2{
    transform: translate(-50%,-50%) rotate(-7deg);
    background-color: bisque;
    z-index: 7;
}
#card2:hover{
    z-index: 40;
}
#card3{
    transform: translate(-50%,-50%) rotate(-14deg);
    background-color: burlywood; 
    z-index: 6;
}
#card3:hover{
    z-index: 40;
}
#card4{
   transform: translate(-50%,-50%) rotate(-21deg);
   background-color: cadetblue;
   z-index: 5;
}
#card4:hover{
    z-index: 40;
}
#card5{
   transform: translate(-50%,-50%) rotate(-28deg);
   background-color: cadetblue;
   z-index: 4;
}
#card5:hover{
    z-index: 40;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}